.content-container {
  margin-top: 90px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: 900px;
  width: 640px;
  border: none;
  
}

@media (min-width: 960px) {
  .content-container {
    margin-top: 0px;
    z-index: 2;
    margin-left: 250px;
  }
}

.status-container {
  display: flex;
  flex-direction: row;
  width: 630px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 20px;

}

.status-images {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.status {
  border: none;
  object-fit: cover;
  object-position: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.status-text {
  font-size: 11px;
}


.post-content {
  display: flex;
  flex-direction: column;
  border: none;
  margin-left: 0;
  width: 450px;
  height: 700px;
  border: none;
}

.profile-container {
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  width: 450px;
}

.image-profile-container {
  cursor: pointer;
  position: relative;
}

.image-profile {
  object-fit: cover;
  object-position: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  margin-right: 10px;

}

.tooltip-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 300px;
  height: 210px;
  background-color: white;
  pointer-events: none;
  white-space: nowrap;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.575);
  opacity: 0;
  transition: 0.2s opacity;
  border-radius: 10px;
  z-index: 2;

}

.image-profile-container:hover .tooltip-container {
  opacity: 1;
  pointer-events: all;
}

.tooltip-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.tooltip-image {
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.tooltip-top-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.top-profile-button {
  border: none;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
  cursor: pointer;
}


.tooltip-middle {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info-numbers-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.posts-follower-follows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number-top {
  font-size: 14px;
  font-weight: bold;
}

.text-bottom {
  font-size: 14px;
}


.info-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info-posts-image {
  display: flex;
  flex-direction: row;
}

.info-image-posts {
  width: 95px;
  height: 95px;
}



.tooltip-bottom {
  display: flex;
  flex-direction: row;

}

.profile-location {
  display: flex;
  flex-direction: column;

}

.profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.verified-logo {
  object-position: center;
  object-fit: cover;
  width: 15px;
  height: 15px;
}

.date {
  color: rgb(194, 193, 193);
}

.location {
  font-size: 12px;
}

.options-container {
  margin-left: 260px;
}
.options-logo {
  width: 15px;
}

.picture-container {
  width: 450px;
  height: 550px;
  border: none;
  margin-top: 10px;
  background-color: gray;
  border: none;
  border-radius: 5px;
}

.picture-chameleon {
  object-fit: cover;
  object-position: center;
  width: 450px;
  height: 550px;
  border-radius: 5px;
}

.like-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 0px;
  border-bottom: solid 1px rgb(212, 212, 212);
  height: 200px;
}

.comment-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: none;
  width: 450px
  
}

.logo {
  margin-right: 15px;
}


.like-logo {
  width: 20px;
  height: 20px;
}

.comment-logo {
  width: 20px;
  height: 20px;
}

.share-logo {
  width: 20px;
  height: 20px;
}

.save-logos {
  margin-left: 320px;
}

.save-logo {
  width: 25px;
  height: 25px;
}

.likes {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  
}

.comment {
  font-size: 14px;
}

.profile-name {
  font-weight: bold;
}

.hashtag-links {
  cursor: pointer;
}

.chameleon {
  text-decoration: none;
  color: rgb(14, 14, 129);
}

.forest {
  text-decoration: none;
  color: rgb(14, 14, 129);
}

.comment-stats {
  margin-top: 5px;
  font-size: 13px;
  margin-bottom: 0px;
  color: gray;
}

.comment-input {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.input-comment {
  border: none;
  width: 300px;
  height: 30px;
  font-size: 14px;
}



.emoji-logo {
  width: 20px;
  height: 20px;
  margin-left: 125px;
}
