.r-sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  background-color: white;
  z-index: 2;
}

@media (max-width: 1200px) {
  .r-sidebar-container {
    opacity: 0;
    z-index: 0;
  }
}

.account-switch-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 45px;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.account-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-image-container {
  border: none;
  background-color: white;

}

.account-image {
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.account-name-container {
  display: flex;
  flex-direction: column;

}

.account-profile-username {
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
}

.account-profile-name {
  margin-left: 10px;
  font-size: 14px;
  color: grey;
}

.account-button-container {
  border: none;
  background-color: white;
  margin-right: 10px;
}
.button-switch {
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(65, 153, 253);
  transition: 0.15 color;
}

.button-switch:hover {
  color: blue;
}

.text-suggestion {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-suggest {
  color: rgb(172, 170, 170);
  font-size: 14px;
  font-weight: bold;
}

.see-all-button {
  margin-right: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 13px;
  transition: opacity 0.15s;
}

.see-all-button:hover {
  opacity: 0.5;
}

.account-follow-container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.account-follow-name {
  font-size: 13px;
  color: gray;
  margin-left: 10px;
}

.info-links-abouts {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 40px;
}

.links {
  color: rgb(173, 173, 173);
  font-size: 13px;
}

.info-insta {
  margin-top: 20px;
  color: rgb(173, 173, 173);
  font-size: 13px;
}