@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: auto 0;
  font-family: 'Inter', sans-serif;;
  height: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  max-width: 400px;
  margin: 20px auto;
  padding: 0 20px;
  box-shadow: 2px 2px 12px #333;
  background-color: #fff;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  width: 150px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.input-box label {
  margin-bottom: 5px;
  font-weight: 600;
}